/* Styles for modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* Styles for image and details in modal */
#modal-image {
    max-width: 80%;
    max-height: 80vh;
    margin-bottom: 20px;
}

.details {
    text-align: left;
    padding: 0 20px;
}

.details h2 {
    margin-bottom: 10px;
}

.details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.details ul li {
    margin-bottom: 5px;
}

/* Background blur effect when modal is open */
body.modal-open {
    overflow: hidden;
}

body.modal-open .gallery {
    filter: blur(5px); /* Adjust blur amount as needed */
}
